In [34]:
import pandas as pd

In [136]:
tdf = pd.read_html('http://cloford.com/resources/colours/500col.htm')

In [162]:
df = tdf[1][[0,3,4,5,6]][3:558]
df.head()

             0        3    4    5    6
3  Colour Name      Hex    R    G    B
4   indian red  #B0171F  176   23   31
5      crimson  #DC143C  220   20   60
6    lightpink  #FFB6C1  255  182  193
7  lightpink 1  #FFAEB9  255  174  185

In [163]:
# df.rename(columns=[['Colour','Hex', 'R', 'G', 'B']])
df.rename(columns={0:'Colour', 3:'Hex', 4:'R', 5:'G', 6:'B'}, inplace=True)
df = df.shift(-1)

In [164]:
for i in df.index:
    df['RGB'] = df['R'] + ' ' + df['B'] + ' ' + df['G']
df = df.drop(['R', 'B', 'G'], axis=1).dropna().reset_index(drop=True)
df.head()

        Colour      Hex          RGB
0   indian red  #B0171F    176 31 23
1      crimson  #DC143C    220 60 20
2    lightpink  #FFB6C1  255 193 182
3  lightpink 1  #FFAEB9  255 185 174
4  lightpink 2  #EEA2AD  238 173 162

In [167]:
df.Colour = df.Colour.apply(lambda x: x.capitalize())
df.head()

        Colour      Hex          RGB
0   Indian red  #B0171F    176 31 23
1      Crimson  #DC143C    220 60 20
2    Lightpink  #FFB6C1  255 193 182
3  Lightpink 1  #FFAEB9  255 185 174
4  Lightpink 2  #EEA2AD  238 173 162

In [170]:
# df.to_csv('colours_full.csv')

In [193]:
def clean_colour(colour):
    if len(colour.split(' ')) == 3:
        colour = colour.split(' ')[:-1]
        colour = colour[0] + ' ' + colour[1]
    return colour
clean_colour('green 2 (steel)')

'green 2'

In [195]:
df1 = pd.read_csv('colours_full_final1.csv')
df1.Colour = df1.Colour.apply(lambda x: clean_colour(x))

In [198]:
#df1.to_csv('colours_master.csv')

In [1]:
from PIL import Image

In [7]:
im = Image.open('test.jpg', 'r')
pix = im.load()
print(pix[400,600])

(234, 5, 62)

In [31]:
import pandas as pd

df2 = pd.read_csv('colours_master.csv')

In [38]:
df = df2.RGB


# df['x'] = df
# for i, val in enumerate(df):
    
#     df['1'] = df[i].split(' ')[0]
df

AttributeError: 'Series' object has no attribute 'columns'