In [34]:
import pandas as pd

In [136]:
tdf = pd.read_html('http://cloford.com/resources/colours/500col.htm')

In [137]:
df = tdf[1][[0,3,4,5,6]][3:558]
df.head()

             0        3    4    5    6
3  Colour Name      Hex    R    G    B
4   indian red  #B0171F  176   23   31
5      crimson  #DC143C  220   20   60
6    lightpink  #FFB6C1  255  182  193
7  lightpink 1  #FFAEB9  255  174  185

In [138]:
# df.rename(columns=[['Colour','Hex', 'R', 'G', 'B']])
df.rename(columns={0:'Colour', 3:'Hex', 4:'R', 5:'G', 6:'B'}, inplace=True)
df = df.shift(-1)

In [144]:
for i, val in enumerate(df):

TypeError: cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid