### Scraping IMDB for top 250 movie titles for testing

In [1]:
#import packages
import pandas as pd
import numpy as np

In [33]:
#read table into df
df = pd.read_html('https://www.imdb.com/chart/top')
#isolate target table
df = df[0]
df.head(3)

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN

In [34]:
#use lambda function to take just the movie title
df = df['Rank & Title'].apply(lambda x: x[4:-8])
df.head(3)

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
Name: Rank & Title, dtype: object

In [35]:
#save file to text
#df.to_csv('test_list.txt')